body{
background-image: linear-gradient(rgba(0, 0,0, 0.5), rgba(0, 0, 0, 0.5)), url("7972.jpg" ) ; 
background-repeat: no-repeat;
background-position:center;
background-attachment: fixed;
background-size: cover;
color:white;

}

.profile{
    position:absolute;
    left: 37%;
    top: 30%;
    text-align: center;
     font-size: 30px;
     font-weight: bold;
     font-family: sans-serif;
     background-color: rgba(248, 18, 56, 0.5);
     padding-top: 20px;
     padding-bottom:  20px;
     padding-left:  20px;
     padding-right:  20px;
     border: 10px;
     border-style:ridge;
     border-radius: 15px;
    
}

@media (max-width : 640px){
    .profile{
        left: 9%;
        right: 9%;
    }
}